.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  background-color: red;
}
.container{
  background-color: cadetblue;
  padding: 15px;
}